.pool-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.845), #000);
}
.pool-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 29vh;
	width: 100%;
}
.pool-title {
	font-size: 3.5vh;
	color: #ffd000;
	font-weight: 300;
	font-size: 2vh;
}
.dropdown-closed {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 10vh;
	color: #ffd000;
	border: 1px solid #ffd000;
	height: 5vh;
	line-height: 5vh;
	justify-content: flex-start;
	width: 70vw;
	border-radius: 10px 10px 10px 10px;
	background: rgb(20, 20, 20);
	cursor: default;
	overflow: hidden;
}
.dropdown-closed .thread-option {
	display: none;
}
.dropdown-closed .sub-category {
	display: none;
}
.dropdown-closed .selected-thread {
	background-color: transparent;
	border: none;
	font-weight: 800;
	color: #ffd000;
	height: 100%;
	line-height: 100%;
	cursor: default;
}
.dropdown-closed .selected-thread:hover {
	cursor: pointer;
	background-color: #ffd000;
	color: rgb(0, 0, 0);
}
.dropdown-arrow {
	position: absolute;
	top: 1.6vh;
	right: 2.5vw;
}
.dropdown-open .selected-thread {
	background-color: #ffd000;
	color: rgb(20, 20, 20);
	border: none;
	font-weight: 800;
	line-height: 4vh;
}
.selected-thread:focus {
	outline: none;
}
.dropdown-open {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #ffd000;
	top: 10vh;
	height: 25vh;
	line-height: 25vh;
	width: 70vw;
	border-radius: 10px 10px 10px 10px;
	background: rgb(20, 20, 20);
	overflow: scroll;
	overflow-x: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
.sub-category {
	color: rgb(180, 171, 180);
	background-color: transparent;
	border: none;
	font-size: 1vh;
	letter-spacing: 5vw;
	margin-right: -5vw;
	line-height: 5vh;
	cursor: default;
}
.thread-option {
	background-color: transparent;
	color: #ffd000;
	border: none;
	height: 4vh;
	line-height: 4vh;
}
.dropdown-open .thread-option:hover {
	background-color: #ffd000;
	color: rgb(10, 10, 10);
	cursor: pointer;
}
.dropdown-open .thread-option:focus {
	outline: none;
}

.menu {
	height: 0;
	line-height: 0;
	transition: all 0.3s ease-in-out;
}
.user-top-5 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 12vh;
	width: 95%;
	/* background-color: rgba(0, 0, 0, 0.815); */
	/* border-width: 1px 0 1px 0; */
	/* border-color: black; */
	/* border-style: solid; */
}
.ranked-artist {
	width: 15vw;
	height: 15vw;
	line-height: 15vw;
	background: rgba(20, 20, 20, 1);
	border: 1px solid #ffd000;
	border-radius: 50%;
	color: #ffd000;
	cursor: default;
}
.pool {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12vh, 1fr));
	height: 70vh;
	width: 100vw;
	overflow: scroll;
}
.thumbnail-container {
	background-color: #000;
	height: 12vh;
	border: .2px solid #000;
	filter: grayscale(30%);
}
.display-artist-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	line-height: 100%;
	width: 100%;
	opacity: 0;
	color: #ffd000;
	font-size: 1.5vh;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.801);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	z-index: 5;
}
.display-artist-name:hover {
	opacity: 1;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
.artist-name-link {
	text-decoration: none;
}
/* .in-thumbnail-add-button {
	font-size: 2vh;
	height: 3vh;
	width: 3vh;
	line-height: 3vh;
	border-radius: 50%;
	vertical-align: text-top;
} */
.in-thumbnail-add-button {
	/* position: absolute; */
	width: 3vh;
	height: 3vh;
	line-height: 3vh;
	/* margin: 3px 0 0 20px; */
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.815);
	font-size: 2vh;
	background-color: rgba(51, 178, 228, 0.897);
	border: none;
	transition: all 0.3s ease-in-out;
}
.in-thumbnail-add-button:hover {
	border: .3px solid #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.hide-artist-menu-modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 10vh;
	width: 100vw;
	z-index: -1;
	opacity: 0;
	/* background-color: rgb(20, 20, 20); */
	/* transition: all .1s ease-in-out; */
}
.artist-menu-modal {
	top: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color: rgba(20, 20, 20, 0.932);
	transition: all .3s ease-in-out;
}
.close-menu-modal-button {
	position: absolute;
	right: 3.5vw;
	top: 2vh;
	border: none;
	border-radius: 50%;
	width: 5vw;
	height: 5vw;
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.89);
	cursor: pointer;
}
.close-menu-modal-button:hover {
	background-color: rgba(51, 178, 228, 0.89);
	color: rgba(255, 255, 255, 0.89);
}
.artist-menu-photo-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	/* transform: rotate(-45deg); */
	width: 80vw;
	height: 80vw;
	overflow: hidden;

	margin: -10px 0 20px 0;
	border: 1px solid #ffd000;
}
.artist-menu-photo {
	width: 80vw;
	height: 80vw;
	/* transform: rotate(45deg); */
	object-fit: cover;
}
.artist-menu-name {
	position: absolute;
	top: 10vh;
	/* margin-top: -100px; */
	color: #ffd000;
	font-weight: 800;
	font-size: 4vh;
}
.artist-menu-modal button {
	font-weight: 100;
	border: none;
	border-radius: 35px;
	background-color: #ffd000;
	margin-top: 2vh;
	color: rgb(20, 20, 20);
	padding: 1.5vh 2vh;
	border: 1px solid transparent;
	transition: all 0.1s ease-in-out;
}
.artist-menu-modal button:hover {
	color: #ffd000;
	background-color: rgb(22, 24, 26);
	cursor: pointer;
	border: 1px solid rgba(180, 217, 231, 0.37);
	transition: all 0.1s ease-in-out;
}
