.list-edit-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.845), #000);
}
.list-edit-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 29vh;
	width: 100%;
}
/* .pool-title {
	font-size: 3.5vh;
	color: #ffd000;
	font-weight: 300;
	font-size: 2vh;
} */
.dropdown-closed {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 10vh;
	color: #ffd000;
	border: 1px solid #ffd000;
	height: 5vh;
	line-height: 5vh;
	justify-content: flex-start;
	width: 70vw;
	border-radius: 10px 10px 10px 10px;
	background: rgb(20, 20, 20);
	cursor: default;
	overflow: hidden;
}
.dropdown-closed .thread-option {
	display: none;
}
.dropdown-closed .sub-category {
	display: none;
}
.dropdown-closed .selected-thread {
	background-color: transparent;
	border: none;
	font-weight: 800;
	color: #ffd000;
	height: 100%;
	line-height: 100%;
	cursor: default;
}
.dropdown-closed .selected-thread:hover {
	cursor: pointer;
	background-color: #ffd000;
	color: rgb(0, 0, 0);
}
.dropdown-arrow {
	position: absolute;
	top: 1.6vh;
	right: 2.5vw;
}
.dropdown-open .selected-thread {
	background-color: #ffd000;
	color: rgb(20, 20, 20);
	border: none;
	font-weight: 800;
	line-height: 4vh;
}
.selected-thread:focus {
	outline: none;
}
.dropdown-open {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #ffd000;
	top: 10vh;
	height: 25vh;
	line-height: 25vh;
	width: 70vw;
	border-radius: 10px 10px 10px 10px;
	background: rgb(20, 20, 20);
	overflow: scroll;
	overflow-x: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 10;
}
.sub-category {
	color: rgb(180, 171, 180);
	background-color: transparent;
	border: none;
	font-size: 1vh;
	letter-spacing: 5vw;
	margin-right: -5vw;
	line-height: 5vh;
	cursor: default;
}
.thread-option {
	background-color: transparent;
	color: #ffd000;
	border: none;
	height: 4vh;
	line-height: 4vh;
}
.dropdown-open .thread-option:hover {
	background-color: #ffd000;
	color: rgb(10, 10, 10);
	cursor: pointer;
}
.dropdown-open .thread-option:focus {
	outline: none;
}
.menu {
	height: 0;
	line-height: 0;
	transition: all 0.3s ease-in-out;
}
.user-top-5 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 12vh;
	width: 95%;
}
.ranked-artist {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15vw;
	height: 15vw;
	line-height: 15vw;
	background: rgba(20, 20, 20, 1);
	border: 1px solid #ffd000;
	border-radius: 50%;
	color: #ffd000;
	cursor: default;
	font-weight: 900;
	overflow: hidden;
	font-size: 3vh;
}
.ranked-artist img {
	object-fit: cover;
	width: 100%;
	height: 100%;

	opacity: 0.8;
	transition: all .2s ease-in-out;
}
.ranked-artist img:hover {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 1;
	overflow: hidden;
	z-index: 1;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.ranked-artist-name {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	font-size: 1.5vh;
	font-weight: 500;
	color: #ffd000;
	width: 15vw;
	height: 15vw;
	line-height: 2.5vw;
	border-radius: 50%;
	background-color: rgba(20, 20, 20, 0.8);
}
.remove-artist-container {
	position: absolute;
	width: 15vw;
	height: 15vw;
	z-index: 5;
	opacity: 0;
	transition: all .2s ease-in-out;
}
.remove-artist-container:hover {
	z-index: 5;
	opacity: 1;
	transition: all .2s ease-in-out;
}
.remove-artist {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	margin-left: 11vw;
	font-size: 1.5vh;
	width: 4vw;
	height: 4vw;
	color: rgb(20, 20, 20);
	background-color: rgb(175, 175, 175);
	border-radius: 50%;
}
.remove-artist:hover {
	background-color: rgb(240, 240, 240);
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.additional-artists-count {
	position: absolute;
	border-radius: 50%;
	font-size: 2.2vh;
	width: 4vh;
	height: 4vh;
	line-height: 4vh;
	font-weight: 300;
	margin-left: 15vw;
	margin-top: 7vh;
	background-color: rgb(20, 20, 20);
	border: 1px solid #ffd000;
	opacity: 1;
	transition: all .2s ease-in-out;
}
.additional-artists-count:hover {
	opacity: 0;
}
.edit-ranked-artists {
	position: absolute;
	font-weight: 300;
	font-size: 2vh;
	width: 4vh;
	height: 4vh;
	line-height: 4vh;
	border-radius: 15px;
	margin-left: 15vw;
	margin-top: 7vh;
	cursor: pointer;
	opacity: 0;
	border: 1px solid #ffd000;
	z-index: 5;
	background-color: rgb(20, 20, 20);
	transition: all .2s ease-in-out;
}
.edit-ranked-artists:hover {
	opacity: 1;
	width: 5vh;
}
